[submodule "ntc_rosetta/yang/openconfig"]
	path = ntc_rosetta/yang/openconfig
	url = https://github.com/networktocode/openconfig.git
[submodule "ntc_rosetta/yang/ntc-yang-models"]
	path = ntc_rosetta/yang/ntc-yang-models
	url = https://github.com/networktocode/ntc-yang-models.git